.card {
    position: relative;
    height: 25rem;

    &__content {
        color: $white;
        font-size: 2rem;
        background-color: $white;
        height: 19rem;
        @include transition(.5s);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        box-shadow: $shadow-2;
        border-radius: 3px;
    }
    
    &:hover &__content--1, &:hover &__content--2, &:hover &__content--3, &:hover &__content--4 {
        @include absCenter;
        height: auto;
        min-height: 53rem;
        width: 55rem;
        z-index: 100;
        background-color: $white;
    }

    @media(min-width: 74.1em) and (max-width: 84.4em) {
        &:hover &__content--1 {
            left: 80%;
        }
        &:hover &__content--3 {
            left: 20%;
        }
    }
    
    @include respond(tab-land) {
        width: 57%;
        margin: 0 auto;
        &:hover &__content {
            @include relativeZero;
            height: auto;
        }
    }
    
    @include respond(tab-port) {
        width: 100%;
    }

    &__picture {
        background-size: cover;
        background-position: center;
        height: 19rem;
        background-blend-mode: color;

        &--1 {
            background-image: url(../../img/bowlero-logo.png);
        }
        &--2 {
            background-image: url(../../img/kyani.png);
        }
        &--3 {
            background-image: url(../../img/general-motors.png);
        }
        &--4 {
            background-image: url(../../img/church-of-jesus-christ-of-latter-day-saints.png);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &__overview {
        font-size: 1.5rem;
        text-align: left;
        padding: 1rem;
    }

    &__details {
        color: $grey-dark;
        padding: 1rem;

        ol {
            list-style: unset;
            width: 100%;
            margin: 0 auto;
            padding: 0 1.35em;

            li {
                text-align: left;
                font-size: 1.5rem;
                padding: 0 1rem;
            }
            
        }
    }

    @include respond(tab-land) {
        height: auto;
        border-radius: 3px;
        box-shadow: $shadow-1;
        background-color: $white;
    
        &__content {
            height: auto;
            position: relative;
        }

        &__details {
            padding: 1.5rem 3rem;
        }
    }
}